html, body, ul {margin: 0; padding: 0;}

a{text-decoration: none}

img{border: 0;}

.img-fluid{
    width: 100%;
}

.main-header{
    height: 120px;
}

.header-general{
    height: 60px;
    align-items: center;
}

.ticket-action{
    display: flex;
    justify-content: flex-end;
}


.header-menu ul{
    display: flex;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.header-menu ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background: #dd0018 none repeat scroll 0 0;
    margin-left: 1px;
    text-align: center;
    height: 30px;
    cursor: pointer;
    color: white;
}

.header-menu ul li a{color: white;}

.breadcrumbs li + li {
    background: rgba(0, 0, 0, 0) url("../images/arr.png") no-repeat scroll left center;
    margin-left: 15px;
    padding-left: 18px;
}

.breadcrumbs li {
    color: #354a4f;
    float: left;
    font: 12px/20px helveticaneue,Tahoma;
    list-style: outside none none;
}

footer{
    background: #f1f4f5 none repeat scroll 0 0;
    margin-top: 75px;
    padding: 30px 0;
    position: absolute;
    z-index: 20;
}

#city {
    background: rgba(0, 0, 0, 0) url("../images/city.png") no-repeat scroll right bottom;
    height: 40px;
    margin-right: -500px;
    position: absolute;
    right: 50%;
    top: -40px;
    width: 180px;
}

#rights{text-align: center;}

/* Buttons */

.green-btn{
    background: #6abf2f none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    padding: 0 12px;
    text-align: center;
}

/* */
.object-photos {
    height: 223px;
    overflow: hidden;
    position: relative;
}

.obj-hover-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -3px;
    z-index: 3;
}

.obj-hover-img > span:hover {
    border-bottom: 2px solid #dd0018;
}

.obj-hover-img>* {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
}

.obj-hover-img-5 {
    width: 19%;
}

.obj-title a, .agent-name a{
    color: #dd0018;
    font-size: 1.2rem;
    font-weight: bold;
}

/**/
.agent-card{
    padding: 15px;
    background: #f1f4f5 none repeat scroll 0 0;
}

/**/
.lined {
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.lined span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.lined:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: black;
    position: relative;
}

.lined:after {
    margin-right: -100%;
    right: -14px;
}

#content{min-height: 600px;}

.product-map *{width: 100%;}

/**/
.tabs {
    position: relative; /* Относительное позиционирование */
}
.tab, .tab-title {
    display: inline-block; /* Выстраиваем по горизонтали */
}
.tab input[type="radio"] { display: none; }
.tab-title {
    background: #f1f4f5; /* Цвет фона */
    padding: 5px 10px; /* Поля вокруг текста */
    /*border: 1px solid #666; /* Параметры рамки */
    border-bottom: none; /* Снизу линию убираем */
}
.tab-content {
    position: absolute; /* Абсолютное позиционирование */
    border: 1px solid #666; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    left: 0; /* Размещаем у левого края */
    width: calc(100% - 20px); /* Ширина содержимого */
    display: none; /* Прячем вкладку */
}
.tab :checked + .tab-title {
    position: relative; /* Относительное позиционирование */
    background: #506266; /* Цвет фона */
    top: 1px; /* Сдвигаем вниз */
    z-index: 1; /* Отображаем поверх содержимого */
}
.tab :checked ~ .tab-content {
    display: block; /* Показываем активную вкладку */
}